div#tipDiv {
    font-size:11px; 
    color:#000; background-color:#E1E5F1; 
    border:1px solid #667295; 
    padding:4px;
    width:200px; 
}

/* for optional caption */
div#tipDiv div.caption {
    font-size:12px; 
    font-weight:bold; text-align:center;
    margin-bottom:6px;
    }

/* wrapTextByImage: side-by-side in td */
div#tipDiv td { 
    vertical-align:top; 
    font-size:11px;
    padding:0; 
    }
/* divs with classes img and txt in all image-text formatting functions */
div#tipDiv td div.txt { 
    text-align:left; 
    padding-right:4px; 
    }